services:
  db:
    image: postgres:16-alpine
    container_name: sommelier_local_db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=sommelier_db
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=dev_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: